<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= myTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="finalClass">
        <div class="headerClass">
            <%- include('partials/hamburgerMenu') %>
        </div>

        <main class="mainClass about-main">
            <div class="image-container">
                <img src="/images/rawrcontact.png" alt="kitty hunting you" id="about-img">
            </div>

            <div class="textClass">
                <h1 class="about-heading"><%= myIntro %></h1>
                
                <div class="about-story">
                    <% myText.forEach(paragraph => { %>
                        <p class="story-p"><%= paragraph %></p>
                    <% }); %>
                </div>
            </div>
        </main>

        <div class="footerClass">
            <%- include('partials/footer') %>
        </div>
    </div>

</body>
</html>