<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= myTitle %></title>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

        <div class="finalClass">
                <div class="headerClass"><%- include('partials/hamburgerMenu') %></div>

                <main class="mainClass">
                        <div class="firstColumn">
                                <% projects.forEach(project=> { %>
                                        <button class="indie-btn" id="<%= project.id %>"
                                                data-preview="<%= project.img %>">
                                                <a href="<%= project.url %>" <%=project.url.startsWith('http')
                                                        ? 'target="_blank" rel="noopener noreferrer"' : '' %>>
                                                        <%= project.title %>
                                                </a>
                                        </button>
                                        <% }); %>
                        </div>

                        <div class="secondColumn">
                                <h1>PumaBytes</h1>
                                <div id="logo-container">
                                        <img id="logo-img" src="/images/rawr3.png" alt="kitty logo">
                                        <img id="previewImg" src="" alt="Preview panel">
                                </div>
                        </div>
                        <div class="thirdColumn">
                                <% navigation.forEach(nav=> { %>
                                        <button class="indie-btn" id="<%= nav.id %>" data-preview="<%= nav.img %>">
                                                <a href="<%= nav.url %>" <%=nav.url.startsWith('http')
                                                        ? 'target="_blank" rel="noopener noreferrer"' : '' %>>
                                                        <%= nav.title %>
                                                </a>
                                        </button>
                                        <% }); %>
                        </div>
                </main>

                <div class="footerClass">
                        <%- include('partials/footer') %>
                </div>
        </div>

        <script src="/js/index.js"></script>
</body>

</html>